@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 1rem 0;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
}

main {
  width: 90vw;
  margin: 2rem auto;
}

.img-container {
  margin-bottom: 3rem;
  box-shadow: 10px 10px #d2e7d6;
}

.main-img {
  display: block;
  width: 100%;
}

.section {
  margin-bottom: 5rem;
}

.icons {
  list-style: none;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  padding-right: 2rem;
  color: #013220;
}

@media screen and (min-width: 720px) {
  p {
    font-size: 0.3;
  }

  .section {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 2rem;
    align-items: center;
  }

  .icon-section {
    text-align: center;
  }

  .icons {
    justify-content: center;
  }
}
